
.services .boxes {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.services .boxes .box{
    margin: 20px 0;
    width: calc(100% / 3- 20px);
    text-align: center;
    border-radius: 12px;
    padding: 30px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    cursor: default;
    color: white;
    transition: all 0.4s ease;
}
.services .boxes .box:hover{
    background: #b74b4b;
    color: #fff;
}
.services .boxes .box .icon{
    height: 50px;
    width: 50px;
    background: #b74b4b;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}
.boxes .box:hover .icon{
    background-color: #fff;
    color: #b74b4b;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
   color: white;
   transition: all 0.4 ease;
}
.services .boxes .box:hover .topic,
.services .boxes .box:hover p{
  color: #fff;
}