
footer{
    background: #b74b4b;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
footer .text span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}
footer .text span a{
    font-weight: 500;
    color: #fff;
}
footer .text span a:hover{
    text-decoration: underline;
}
.scroll-button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #b74b4b;
    padding: 7px 12px;;
    font-size:18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
    display: none;
}
footer {
    text-align: center;
    padding: 20px 0; /* Adds space inside the footer */
  }
  
  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adds space between the text and the link */
  }
  
  .text a {
    color: #f39c12; /* Styling the link color */
    text-decoration: none;
  }
  
  .text a:hover {
    text-decoration: underline; /* Adds underline on hover */
  }
  